*{
    background-color: #89BD9E;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    background-color: inherit;
}

.whole-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3C153B;
}

.main-board{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid red 1px;
    border-radius: 5%;
    width: 450px;
    height: 580px;
    background-color: #89BD9E;
}

#screen{
    display: flex;
    align-items: center;
    border: solid black 1px;
    height: 120px;
    width: 420px;
    margin-top: 20px;
    background-color: #F0C987;
    font-size: 40px;
}

.screen-number{
    margin-left: 10px;
}

.main-pad{
    display: flex;
    margin-top: 20px;
    gap: 15px;
}

#clear-button{
    height: 55px;
    width: 230px;
    border-radius: 15px;
    background-color: gainsboro;
}

.number-pad{
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    border-radius: 4%;
    width: 300px;
    height: 400px;
    background-color: #8B1E3F;
}

.number-pad-top{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: #8B1E3F;
}

.number-pad-bottom{
    justify-content: center;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
    background-color: #8B1E3F;
}

.operator-pad{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #028090;
    width: 80px;
    border-radius: 10px;
}

.buttons{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: gainsboro;
}