*{
    flex: 0 0 1;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

p{
    background-color: inherit;
    font-weight: bolder;
}

.whole-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}

.main-board{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 3px;
    border-radius: 5%;
    width: 450px;
    height: 580px;
    background-color: white;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.173)
}

#screen{
    display: flex;
    align-items: center;
    border: solid black 1px;
    height: 120px;
    width: 420px;
    margin-top: 20px;
    background-color: black;
    font-size: 32px;
}

.screen-number{
    margin-left: 10px;
    color: white;
}

.main-pad{
    display: flex;
    margin-top: 20px;
    gap: 15px;
    background-color: white;
}

#clear-button{
    height: 55px;
    width: 230px;
    border-radius: 15px;
    background-color: gainsboro;
}

.number-pad{
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    border-radius: 4%;
    width: 300px;
    height: 400px;
    background-color: gray;
}

.number-pad-top{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: inherit;
}

.number-pad-bottom{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
    background-color: inherit;
}

.numpad-lastrow{
    display: flex;
    gap: 11px;
    margin-left: 82px;
    background-color: inherit;
}

#dot-text{
   font-size: 30px;
}

.operator-pad{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    width: 80px;
    border-radius: 10px;
}

.buttons{
    width: 70px;
    height: 70px;
    border-radius: 16px;
    background-color: gainsboro;
    font-size: 20px;
}